<div>
    <div class="mt-5 pt-5"
        style="display: flex; flex-direction: row ;width: 500px; flex-wrap: wrap; margin: auto; gap: 2%;">
    
        <h4 class="mt-5 my-3"> Welcome to Andal Software Employee Management System</h4>
        
        <dx-button style="padding: 25px 5px; flex: 49%;" routerLink="/job-title">
            Job Title
        </dx-button>
        
        <dx-button style="padding: 25px 5px; flex: 49%;" routerLink="/job-position">
            Job Position
        </dx-button>
    
    </div>
</div>